@use "@scss-abstracts" as *;
@use "@scss-motion-abstracts" as motion;
/*
* order of properties -
* 1. root variables,
* 2. layout,
* 3. size, 
* 4. spacing, 
* 5. visual (colors, backgrounds, borders, overflows),
* 6. typography,
* 7. motion,
* 8. states
*/
.sample-breadcrumbs {
	.core-breadcrumbs__crumb {
		//visual - LIKELY TO CHANGE
		color: #6b6b80;

		//typography - LIKELY TO CHANGE
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: -0.36px;
		@include lineclamp(1);

		//motion - LIKELY TO CHANGE
		@include motion.button-hover-transition() {
			color: #212121;
		}
	}
	.core-breadcrumbs__crumb--current-page {
		//visual - LIKELY TO CHANGE
		color: #212121;
	}
}
