$font-sizes: (
  d-h1-playfair: (size: 60px, line: 1.1, weight: 400, spacing: -3%, family: secondary),
  d-h2-playfair: (size: 44px, line: 1.1, weight: 500, spacing: -3%, family: secondary),
  d-h3-playfair: (size: 36px, line: 1.2, weight: 500, spacing: -3%, family: secondary),
  d-h4-playfair: (size: 36px, line: 1.2, weight: 500, spacing: -4%, family: secondary),
  d-h5-playfair: (size: 32px, line: 1.2, weight: 500, spacing: 0, family: secondary),
  d-h6-playfair: (size: 24px, line: 1.4, weight: 500, spacing: -4%, family: secondary),
  d-b1-montserrat: (size: 15px, line: 1.6, weight: 400, family: primary),
  d-b2-montserrat: (size: 18px, line: 1.2, weight: 500, family: primary),
  d-label-montserrat: (size: 12px, line: 1.2, weight: 500, family: primary),
  d-cta-montserrat: (size: 15px, line: 1.2, weight: 500, family: primary),
  d-menu-montserrat: (size: 14px, line: 1.2, weight: 500, family: primary),
  heading-sm: (size: 1.5rem, line: 1.4, weight: 600, family: primary),
  body-lg:    (size: 1.125rem, line: 1.6, weight: 400, family: primary),
  body-md:    (size: 1rem, line: 1.6, weight: 400, family: primary),
  body-sm:    (size: 0.875rem, line: 1.5, weight: 400, family: primary),
);

// Default token for global usage
$default-font-token: d-b1-montserrat;
