/* Skeleton Media Placeholder */
@mixin media-skeleton-placeholder($size: "default", $mode: "light") {
	$background-color: var(--c-media-placeholder);
	$background-gradient: var(--c-media-skeleton-gradient);
	$background-size: 80px;
	@if $size == "xxs" {
		$background-size: 20px;
	}
	@if $size == "xs" {
		$background-size: 40px;
	}
	@if $size == "sm" {
		$background-size: 52px;
	}
	.core-img-loader:not(:has(.is-loaded)),
	&:not(:has(.is-loaded)) {
		background-color: $background-color;
		background-image: url("data:image/svg+xml,%3Csvg width='54' height='80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.4' fill-rule='evenodd' clip-rule='evenodd' fill='%23857C58'%3E%3Cpath d='M45.509.001h7.903v41.702h-9.168V0h1.265ZM16.595 19.12h7.904v41.724H15.33V19.119h1.265ZM2.127.001h7.925v41.702H.862V0h1.265ZM31.047 0h7.904v80h-9.169V0h1.265Z'/%3E%3C/g%3E%3C/svg%3E");
		background-size: $background-size auto;
		background-position: center;
		background-repeat: no-repeat;
		&::before {
			content: "";
			position: absolute;
			inset-block-start: 0;
			inset-inline-start: 0;
			width: 100%;
			height: 100%;
			background-image: $background-gradient;
			background-size: 200% 100%;
			background-position: 100% 0;
			animation: skeleton-animation 2s infinite var(--emphasized);
		}
	}
	&:has(.is-loaded) {
		background-color: transparent;
	}
}
/* Media Wrapper */
@mixin media-wrapper($size: "default", $mode: "light") {
	@include media-skeleton-placeholder($size, $mode);
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
