@use "@scss-abstracts" as *;
@use "@scss-motion-abstracts" as motion;
@use "./implementations/sample-standard-alert";
@use 'sass:map';

/*
* order of properties -
* 1. root variables,
* 2. layout,
* 3. size, 
* 4. spacing, 
* 5. visual (colors, backgrounds, borders, overflows),
* 6. typography,
* 7. motion,
* 8. states
*/
$core-standard-alert-vars: (
	default: (
		//entry-motion - UNLIKELY TO CHANGE
		ENTRY-TRANSFORM-DURATION: var(--duration-250),
		ENTRY-TRANSFORM-EASING: var(--standard-decelerate),
		ENTRY-OPACITY-DURATION: var(--duration-150),
		ENTRY-OPACITY-EASING: var(--standard-decelerate),
		ENTRY-OPACITY-DELAY: var(--duration-50),
		//exit-motion - UNLIKELY TO CHANGE
		EXIT-TRANSFORM-DURATION: var(--duration-250),
		EXIT-TRANSFORM-EASING: var(--standard),
		EXIT-OPACITY-DURATION: var(--duration-100),
		EXIT-OPACITY-EASING: var(--standard),
		EXIT-OPACITY-DELAY: var(--duration-0),
	),
);
.core-standard-alert {
	//root - UNLIKELY TO CHANGE
	@include define-prefixed-root-variables("CORE-STANDARD-ALERT", map.get($core-standard-alert-vars, default));

	//layout - UNLIKELY TO CHANGE
	position: fixed;
	z-index: z("alert");

	//size - UNLIKELY TO CHANGE
	width: 100%;

	//spacing - UNLIKELY TO CHANGE
	inset-block-start: 0;
	inset-inline-start: 0;

	//motion - UNLIKELY TO CHANGE
	opacity: 0;
	transform: translateY(-100%);
	transition-property: transform, opacity;
	transition-duration: var(--CORE-STANDARD-ALERT-ENTRY-TRANSFORM-DURATION), var(--CORE-STANDARD-ALERT-ENTRY-OPACITY-DURATION);
	transition-timing-function: var(--CORE-STANDARD-ALERT-ENTRY-TRANSFORM-EASING), var(--CORE-STANDARD-ALERT-ENTRY-OPACITY-EASING);
	transition-delay: 0, var(--CORE-STANDARD-ALERT-ENTRY-OPACITY-DELAY);
	pointer-events: none; 
	&[aria-hidden="false"] {
		opacity: 1;
		transform: none;
		pointer-events: auto;
		transition-property: transform, opacity;
		transition-duration: var(--CORE-STANDARD-ALERT-EXIT-TRANSFORM-DURATION), var(--CORE-STANDARD-ALERT-EXIT-OPACITY-DURATION);
		transition-timing-function: var(--CORE-STANDARD-ALERT-EXIT-TRANSFORM-EASING), var(--CORE-STANDARD-ALERT-EXIT-OPACITY-EASING);
		transition-delay: 0, var(--CORE-STANDARD-ALERT-EXIT-OPACITY-DELAY);
	}
}
