@use '@scss-abstracts' as *;

.ui-article-listing { 
  @include media('<md') {
    padding-block-end: var(--space-3xl);
  }
  &__container {
    width: 100%;
    max-width: var(--w-max);
    padding-inline: var(--page-content-padding);
  }
  &__item {
    padding-block: var(--space-l);
    border-bottom: 1px solid var(--border-standard);
    @include media('<md') {
      padding-block: var(--space-m);
    }
  }

  &__loading {
    position: relative;
    height: 120px;
  }

  &.--grid {
    .ui-article-listing {
      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--grid-column-gap);
        @include media('<md') {
          grid-template-columns: 1fr;
        }
      }
      &__item {
        @include media('>md') {
          &:nth-child(2),
          &:first-child {
            padding-block-start: 0;
          }  
        }
      }
    }
  }
}
